//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends layout

block banner
    header.banner
        block bannerItems
            if !min
                a.New.button.safe(href='/' + schemaName + '/new') NEW
                form(action='/' + schemaName,method="GET",style="flex-grow:1")
                    input.headertab(style="width:100%",type="search",name="q",placeholder=" Search")

block info
    if doc && doc.updatedAt
        ='Last updated ' + textUtil.timeSince(doc.updatedAt) + ' ago by ' + doc.author + ' (v' + doc.__v + ')'

block content
    .tabs
        if !min
            button.button.tabbutton.save(id="save1") SAVE
        input.tabradio(name='tabs', type='radio', id='editorTab', value="1",checked)
        label.tablabel#editorLabel(for='editorTab') Editor
        .content
            div
                button.button.auto.safe(id="auto",style="visibility:hidden") Auto-Text
            div.editor(id="editor")
            if !min
                a.right.rejected(id="remove") Delete this entry from database
        input.tabradio(name='tabs', type='radio', id='sourceTab', value="2")
        label.tablabel(for='sourceTab') Source
        .content
            div(id="output",rows="40",cols="100%")
                p

        block customtabs

        if !min
            input.tabradio(name='tabs', type='radio', id='changesTab', value="6")
            label.tablabel(for='changesTab') Changes
            .content
                div#changelog

    if !min
        div(style="clear:both")
            button.button.save(id="save2",style="visibility:hidden") SAVE

    script
        if conf.publicDefectURL
            | var defectURL = "!{conf.publicDefectURL}";
        | var idpath = "#{idpath}";
        | var schemaName = "#{schemaName}";
        | var postUrl = "#{postUrl?postUrl:''}";
        | var csrfToken = "#{csrfToken}";
        if doc && doc.body
            | var initJSON=!{JSON.stringify(doc.body).replace(/\u2028/g, '\\u2028').replace(/\u2029/g, '\\u2029').replace(/</g, '\\u003C').replace(/>/g, '\\u003E').replace(/\//g, '\\u002F')};
        else
            | var initJSON = undefined;
        | var CVEschema_custom=!{conf && conf.CVEschema_custom ? JSON.stringify(conf.CVEschema_custom).replace(/\u2028/g, '\\u2028').replace(/\u2029/g, '\\u2029').replace(/</g, '\\u003C').replace(/>/g, '\\u003E').replace(/\//g, '\\u002F') : false};

    script(src=conf.basedir + 'js/util.js')
    script(src=conf.basedir + schemaName + '/schema.js')
    script(src=conf.jsoneditor,integrity=conf.jsoneditorHash,crossorigin="anonymous")
    script(src=conf.ace,integrity=conf.aceHash,crossorigin="anonymous")
    script(src=conf.basedir + 'js/' + schemaName + '/render.js')
    script(src=conf.basedir + 'js/editor.js')

block subcontent
    if doc
        div#comments
        script(src="/js/linkify.min.js")
        script(src="/js/linkify-element.min.js")
        script(src=conf.basedir + 'js/comment.js')
        script
            | getComments("#{doc_id}");
            | getChanges("#{doc_id}");

block logolink
    br
    a.logo(href="https://github.com/Vulnogram/Vulnogram") Vulnogram Project
