//- Copyright (c) 2017-2026 Chandan B N. All rights reserved.

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
if (opts && opts.conf.description)
    meta(name='description', content=opts.conf.description)
else
    meta(name='description', content='Vulnogram is the tool for reserving, managing, and publishing CVEs. It can be used for tracking and managing anything that can be expressed with a JSON-Schema.')
meta(name='keywords' content='psirt, sirt, advisory, CVRF, CSAF, CVE, vulnogram, CVE, JSON')
meta(name='csrf-token', content=_csrf)
meta(name='theme-color', content='#f0f8ff')
meta(property="og:type", content="website")
if (opts && opts.conf.ogImage)
    meta(property='og:image', content=opts.conf.ogImage)
else
    meta(property='og:image', content=conf.basedir + 'css/logo.png')
link(rel='apple-touch-icon', sizes='256x256', href=conf.basedir + 'css/logo.png')
link(rel='stylesheet', href= conf.basedir + 'css/min.css')
link(rel='stylesheet', href= conf.basedir + 'css/vg-icons.css')
if (opts && opts.conf.favicon)
    link#favicon(rel='icon' href=opts.conf.favicon)
else
    link#favicon(rel='icon' type='image/png', href= conf.basedir + 'css/logo.png', sizes='256x256')
    script
      | var iconClass = !{JSON.stringify((schemaName && confOpts && confOpts[schemaName] && confOpts[schemaName].conf && confOpts[schemaName].conf.class) || '')};
      include favicon.js

if (opts && opts.style)
    style !{opts.style}
