//- Copyright (c) 2017 Chandan B N. All rights reserved.

doctype html
html
  head
    title= title
    include head
  body#body(class=schemaName)
    - var items = { 'SA': {land: '/sa/?phase=Current', start: '/sa/'}, 'CVE' : { land: "/cve/?phase=Current", start: '/cve/'}, Drafts: { land: "/review/drafts", start: '/review/drafts'}, Slides: { land: "/review/slides", start: "/review/slides"}}
    header.header
      .left
        b.logo.title(title="Making the world safer one CVE at a time, since 2017")="Vulnogram "
        if user && !min
            each prop, label in items
                a(class=label + (page && page.startsWith(prop.start) ? " active" : ""), href = prop.land)=label
      .right
        if !min
            a.user(class= (page == 'users' ? " active" : ""), href="/users/profile/" + user.username)= user.name
            a.exit(href="/users/logout")=" Logout "
    if user && !min
        script.
            var userName = "#{user.name}";
            var userUsername = "#{user.username}";
    else
        script.
            var userUsername = ""

    block banner
    .messagebar
        #errMsg
            if !min
                pre
                    !=messages()
            block error
        .right#infoMsg
            block info
    .pad
        block content
    .messagebar
        .right
            block info
    block subcontent
    include foot