//- Copyright (c) 2017-2026 Chandan B N. All rights reserved.
//- Modern responsive grid layout with CSS-only collapsible sidebar

doctype html
html
  head
    title= title
    block head
        include head
  body#body(class=schemaName)
    //- CSS-only sidebar toggle checkbox
    input#sidebarToggle(type="checkbox" checked=true)
    
    .layout-grid
      //- Overlay for mobile (closes sidebar when clicked)
      label.sidebar-overlay(for="sidebarToggle")
      
      //- Left Sidebar
      aside.sidebar
        .sidebar-head.pad
          block sidebarHeader
            label.lbl.vgi-logo(for="sidebarToggle") Vulnogram
            label.vgi-larrow(for="sidebarToggle")
        nav.sidebar-nav.pad
          block sidebarNav
            //-if min
            //-  a.fbn.vgi-logo(title="Making the world safer one CVE at a time, since 2017", href=conf.homepage)="Vulnogram"
            block sidebarSections
              - var vs = Object.keys(confOpts).sort((a,b)=>(confOpts[a].conf.order-confOpts[b].conf.order));
              each section in vs
                if confOpts && confOpts[section]
                  - var cf = confOpts[section].conf ? confOpts[section].conf : {};
                  a.lbl(class=(cf.class ? cf.class : 'vgi-data')+ (schemaName == section ? ' rnd sec ':'')+ (page && page.startsWith('/' + section + '/') ? " hig " : ""), title=cf.title, href = (cf.uri? cf.uri : '/' + section + '/' ))=cf.name
        .sidebar-foot
          block sidebarFooter
      script.
        document.addEventListener('toggle', function (e) {
          var d = e && e.target;
          if (!d || !d.matches || !d.matches('details.sidebar-expandable') || !d.open) return;
          var t = document.getElementById('sidebarToggle');
          if (t) t.checked = false;
        }, true);
        document.addEventListener('click', function (e) {
          if (!window.matchMedia || !window.matchMedia('(max-width: 768px)').matches) return;
          var target = e && e.target;
          var navLink = target && target.closest ? target.closest('.sidebar-nav a.lbl') : null;
          if (!navLink) return;
          var t = document.getElementById('sidebarToggle');
          if (t) t.checked = true;
        });

      //- Main Content Area
      main.main-area
        //- Top Header
        .stk#vgHead
          block topHeader
            header.ban.pad.wht.btm.vg-top-header
              .left.flx
                block topHeaderLeft
                  label#smallScreenMenu.lbl.vgi-logo(for="sidebarToggle") Vulnogram
                  if schemaName && confOpts && confOpts[schemaName] && !confOpts[schemaName].conf.readonly
                    if min
                      a.fbn.sfe(href='./') NEW 
                        = confOpts[schemaName].conf.name ? confOpts[schemaName].conf.name : schemaName
                    else
                      a.fbn.sfe(href='/' + schemaName + '/new') NEW 
                        = confOpts[schemaName].conf.name ? confOpts[schemaName].conf.name : schemaName
              .center.flx
                block topHeaderMid
                  if !min && schemaName
                    form.bor.out.nobr.vg-search-form(action='/' + schemaName,method="GET")
                      input.txt.vg-search-input(size=20,type="text",name="q",placeholder=" Search all "+schemaName,value=query ? (Array.isArray(query.q) ? query.q.join(' ') : query.q) :'',results="10")
                      button.vgi-search.sbn(type="submit")
              .right.flx
                block topHeaderRight
                  block outputButtons
                  block userProfile
                    if user
                      details.popup.vg-user-details
                        summary.lbl.vgi-user= user.name
                        div.wht.pop.pad.bor.shd.rnd.vflx.vg-user-pop
                          a.lbl.right.vgi-x(onclick="this.closest('details').removeAttribute('open')")
                          a.lbl.vgi-edit.block(href="/users/profile/" + user.username) Update profile
                          if opts && opts.conf && opts.conf.shortcuts
                            each shortcut in opts.conf.shortcuts
                              - var href=(shortcut.href instanceof Function ? shortcut.href(locals) : shortcut.href)
                              a.fbn(class=shortcut.class,href=href,target=shortcut.target)=(shortcut.label instanceof Function ? shortcut.label(locals) : shortcut.label)
                          div.bort
                          a.lbl.vgi-exit.block(href="/users/logout") Logout
          block banner
            header.wht.stk
              block bannerItems
                .left
                  block bannerItemsLeft
                .right
                  block bannerItemsRight


        block facetBanner

        //- User script variables
        if user && !min
          script.
            var userName = "#{user.name}";
            var userUsername = "#{user.username}";
        else
          script.
            var userUsername = ""

        //- Message Bar
        .pad.ban.messagebar
          block messageBar
            .left.tred#errMsg
              if !min
                !=messages()
              block error
            .right
              block info

        //- Main Content
        .pad
          block scripts
          block content

        //- Sub Content
        block subcontent

        //- Footer
        include foot
