include util

mixin files
    .rnd.hig.gap.wlp.ins
        .pad
            b.vgi-clip Attachments
            #fileList
                +fileList
        form.pad
            input.fbn(id="file1",name="file1", type='file',multiple=true,onchange='preview(this,event)')
            input.txt(size="40em",name="comment", placeholder="Description of the attachment(s)")
            button.btn.vgi-indent.save#upb(onclick="attach(this, event)") Attach
            progress.hid(name="prg")
            div.indent.indent(class="filePreview")
    
mixin fileList
        if(files && files.length>0)
                - fields = {name: {href:'/'+schemaName+'/' + doc_id + '/file/', class: 'icn ', target:'_blank', xref: {class: 'type'}}, user: {class: 'ico'}, delete: {class: 'ico delete',onclick:'fileDelete(this)'}};
                +table(files, ['name','comment','size','updatedAt','user','delete'])

mixin commentBox
    #commentTemplate.hid
      form.bor.shd.rnd.gap.pad(onsubmit="sendComment(this);return false;")
        input(type="hidden",name="id",value=id)
        .simplehtml.simplehtml-editor.simplehtml-editor--compact.fil
        button.btn.gap(type="submit",name="button",disabled=true) Add comment

mixin comments
  if docs
    each c, i in docs
      .rnd.bor.pad.gap(class=c._id? 'hig': 'wht', id=c.slug)
        dt 
            - var cd = new Date(c.createdAt);
            - var ud = new Date(c.updatedAt);
            span.pad3.lbl(class=c.subject ? 'Email' : '')
                b.vguser(title=c.author)=c.author
                | &nbsp;on  
                = cd.toLocaleDateString("en-US",{year: 'numeric', month: 'short', day: 'numeric'})
                |  
                if(c.updatedAt && (cd.getTime() !== ud.getTime()))
                    | (updated 
                    = ud.toLocaleDateString("en-US",{year: 'numeric', month: 'short', day: 'numeric'})
                    | )
                |  
            if c.author == username
                button.btn.sml(onclick='editPost("' + c.slug + '")') update
            |  -  
            b.lbl=c.title
            if c._id
                a.lbl.vgi-ext(href='/mail/'+c._id)
                    =c.subject
            else
                b.lbl=c.subject
        .simplehtml-view.fil
            if c.hypertext
                +asis(c.hypertext)
            else if c.body
                div.wrp=c.body
            else
                i.tgrey No content
        input(type="hidden",name="slug",value=c.slug)
        input(type="hidden",name="date",value=c.createdAt)

mixin changeIcon(op)
    if op == 'remove'
        span.lbl &rarr; 
    else if op == 'add'
        span.lbl +
    else
        span.lbl &rarr;  

mixin changes
    - var past = {add: 'added', remove: 'removed', replace: 'changed', move: 'moved', copy: 'copied'}
    table.diff
      if docs
        each v, i in docs
          tbody
            each op, i in v.body.patch
                tr.hig
                    td.pad(colspan=3)
                      span.vguser(title=v.author)
                        b= v.author
                        |  on 
                        +hyperdate(v,'updatedAt')
                        |  
                        = past[op.op] ? past[op.op] : op.op
                        |  
                        b= op.path
                tr.change(class=op.op)
                    if op.op == 'remove'
                        - op.old = op.value
                        - delete op.value
                    if op.op == 'replace' && typeof op.old === 'string' && typeof op.value === 'string'
                        if textUtil
                          - var diffs = textUtil.diffline(op.old, op.value);
                          td
                            pre.pre
                              for s in diffs.lhs
                                  case s.t
                                    when 0
                                      = s.str
                                    when 1
                                      span.yel=s.str
                          td
                              +changeIcon(op.op)
                          td
                            pre.pre
                              for s in diffs.rhs
                                  case s.t
                                    when 0
                                      = s.str
                                    when 1
                                      span.grn=s.str
                        else
                          td
                            pre.pre=op.old
                          td
                            +changeIcon(op.op)
                          td
                            pre.pre=op.value
                    else
                        td
                            if op.old instanceof Object
                                pre= JSON.stringify(op.old, null, 1)
                            else
                                = op.old
                        td
                            +changeIcon(op.op)
                        td
                            if op.value == null
                              i.vgi-del  deleted
                            if op.value instanceof Object
                                pre= JSON.stringify(op.value, null, 1)
                            else
                                = op.value 

mixin filePreview
    +table(docs,columns)

block red
    if ctemplate != undefined
        +#{ctemplate}
