mixin cveLoginBox
    center.sec.shd.rnd.gap2.pad
        include CVE.svg
        br
        i CVE Services Portal 
        br
        i Instantly providing you CVE IDs since 2022
        form#cveLoginForm(method='POST', onsubmit='cveLogin(event, this); return false;')
            .pad
                label.lbl(style="width:10em;") Portal
                select.bor.txt(name='portal' style="width:11em;")
                    option(value="https://cveawg.mitre.org/api" selected) production
                    option(value="https://cveawg-test.mitre.org/api") test
            .pad
                label.lbl(style="width:10em;") CNA Short Name
                input.bor.txt(name='org', type='text', autocomplete='on', "pattern"=".{2,64}" required=true)
            .pad
                label.lbl(style="width:10em;") CVE User
                input.bor.txt(name='user', type='text', autocomplete="on", "pattern"=".+@.+" required=true)
            .pad
                label.lbl(style="width:10em;") CNA API Key
                input.bor.txt(name='key', type='password', autocomplete='off' required=true)
            .pad.center
                input.bor.fbn.sfe(type='submit', value='Login')


mixin portal
    - var y = new Date().getFullYear()
    header.pad.ban.sec.rnd
        .left
            label.vgi-globe.lbl Portal: 
                =portalType
            span.btg
                        button.btn.vgi-magic(onclick='cveReserveAndRender(0)') Reserve One CVE
                        details.popup
                            summary.btn ▼ 
                            dl.pop.wht.bor.rnd.shd.pad.rows
                                dt 
                                    button.btn.vgi-magic(onclick='cveReserveAndRender(1)') Reserve one for year 
                                        = y + 1
                                dt
                                    button.btn.vgi-magic(onclick='cveReserveAndRender(0)') Reserve 5
                                dt
                                    button.btn.vgi-magic(onclick='cveReserveAndRender(0)') Reserve 10
            #cveStatusMessage
        label.right#cveUser
            +userstats
    form#cvePortalFilter.gap
        .lbl State
        .rdg
            .form-control
                input.hid(id="chkall" type="radio" name="fstate" value="")
                label.lbl.vgi-misc(for="chkall") All
            .form-control
                input.hid(id="chkres" type="radio" name="fstate" value="RESERVED" checked=true)
                label.lbl.vgi-edit(for="chkres") Reserved
            .form-control
                input.hid(id="chkpub" type="radio" name="fstate" value=(portalType == 'test' ? "PUBLISHED" : "PUBLIC"))
                label.lbl.vgi-globe(for="chkpub") Published
            .form-control
                input.hid(id="chkrej" type="radio" name="fstate" value=(portalType == 'test' ? "REJECT" : "REJECTED"))
                label.lbl.vgi-no(for="chkrej") Rejected
        .lbl Year
        select.lbl.txt(name="y")
            while y > 1998
                option(value=y)=y
                - y--;
        |  
        button.btn.vgi-reuse(onclick='event.preventDefault();cveGetList();return false;') Go
    div#cveList
        table#cveListTable.tbl.sortable

mixin userstats
    details.popup
        summary.fbn.vgi-user= userInfo && userInfo.name ? userInfo.name.first : userInfo.username
            |  ▼ 
        dl.pop.wht.bor.rnd.shd.pad
            b.vgi-user= userInfo.username
            dt Roles:  
                b.vgi-cap=userInfo.authority.active_roles
            hr
            dt Org:  
                b=org.name
            dt ShortName:  
                b= org.short_name
            dt Role:  
                b= org.authority.active_roles
            hr
            span.vgi-exit.fbn(onclick="cveLogout()") Logout!

mixin htext
    if t
        each line in t.split(/\n/)
            if line
                if line.startsWith('  ')
                    code=line
                    br
                else
                    p=line
    else
        p=t

mixin date(value)
    - var v = false;
    - if (value instanceof Date) { v = value;} else {
    -   var timestamp = Date.parse(value);
    -   v = isNaN(timestamp) ? false : new Date(timestamp)
    - }
    if v
        - var nowt = Date.now();
        - var vtime = v.getTime();
        - var delta = nowt-vtime;
        - var hidet = '';
        - if (Math.abs(delta) > 43000000) { hidet = 'hid';}
        span.nobr.date(class=cl, title=v.toString())
            = v.toISOString().slice(0,10)
            span.nobr(class=hidet)
                |  
                = v.toLocaleTimeString("de-US", {hour:"2-digit", minute:"2-digit"})
    else
        = obj[name]

mixin editables
    each c in cveIds
        //-if c.state == 'RESERVED'
            option(value=c.cve_id)='📝 ' + c.cve_id
        if c.state == 'PUBLISHED'
            option(value=c.cve_id)='🌐 Published on '
                +date(c.time.modified)
        if c.state == 'REJECTED'
            option(value=c.cve_id)='⛔ Rejected on ' 
                +date(c.time.modified)

mixin reserveds
    each c in cveIds
        if c.state == 'RESERVED'
            option(value=c.cve_id)
                i='📝 Reserved by ' + c.requested_by.user
        //-if c.state == 'PUBLISHED'
            option(value=c.cve_id)='🌐 Published by ' + c.requested_by.user
        //-if c.state == 'REJECTED'
            option(value=c.cve_id)='⛔ Rejected by ' + c.requested_by.user

mixin listIds
    - var stateIcons = {'RESERVED':'vgi-edit', 'PUBLISHED':'vgi-globe', 'REJECTED':'vgi-no'}
    table.tbl.sortable
        thead
            tr
                th ID
                th State
                th Requester
                th(aria-sort="ascending") Created
                th Modified
        tbody
          each c in cveIds
            tr(data=c.state)
                td
                    if editable
                        a(href="javascript:cveLoad('"+c.cve_id+"')")=c.cve_id
                    else
                        =c.cve_id
                td
                    if c.state == 'RESERVED'
                        i(class=stateIcons[c.state]?stateIcons[c.state]:'')=c.state
                    else
                        a.vgi-ext(class=stateIcons[c.state]?stateIcons[c.state]:'', href="https://www.cve.org/CVERecord?id="+c.cve_id)
                            =c.state
                td=c.requested_by.user
                td
                    +date(c.time.created)
                td
                    +date(c.time.modified)

block red
    if ctemplate != undefined
        +#{ctemplate}