mixin cveLoginBox
    center.sec.shd.rnd.gap2.pad
        include CVE.svg
        br
        i CVE Services Portal 
        br
        i Instantly providing you CVE IDs since 2022
        #loginErr
        form#cveLoginForm(method='POST', onsubmit='cveLogin(event, this); return false;')
            .pad
                label.lbl(style="width:10em;") Portal
                select.bor.txt(name='portal' style="width:11em;")
                    option(value="https://cveawg.mitre.org/api" selected) production
                    option(value="https://cveawg-test.mitre.org/api") test
                    option(value="http://127.0.0.1:3000/api") local
            .pad
                label.lbl(style="width:10em;") CNA Short Name
                input.bor.txt(name='org', type='text', autocomplete='on', "pattern"=".{2,64}" required=true)
            .pad
                label.lbl(style="width:10em;") CVE User
                input.bor.txt(name='user', type='text', autocomplete="on", "pattern"=".+@.+" required=true)
            .pad
                label.lbl(style="width:10em;") CNA API Key
                input.bor.txt(name='key', type='password', autocomplete='off' required=true)
            .pad.center
                input.bor.fbn.sfe(type='submit', value='Login')


mixin portal
    - var y = new Date().getFullYear()
    header.pad.ban.sec.rnd
        .left
            label.vgi-globe.lbl Portal: 
                =portalType
            span.btg
                        button.btn.vgi-magic(onclick='cveReserveAndRender(0)') Reserve One CVE
                        details.popup
                            summary.btn â–¼ 
                            dl.pop.wht.bor.rnd.shd.pad.rows
                                dt
                                    button.btn.vgi-magic(onclick='cveReserveAndRender(0, 5)') Reserve 5
                                dt
                                    button.btn.vgi-magic(onclick='cveReserveAndRender(0, 10)') Reserve 10
                                dt 
                                    button.btn.vgi-magic(onclick='cveReserveAndRender(1)') Reserve one for the year 
                                        = y + 1
        .flx
            label#cveUser
                +userstats
            if userInfo && userInfo.authority && userInfo.authority.active_roles && userInfo.authority.active_roles.includes("ADMIN")
                label#userMgmt
                    +usermgmt
    .pad#cveStatusMessage
    form#cvePortalFilter.gap
        .lbl Show
        .rdg
            .form-control
                input.hid(id="chkall" type="radio" name="fstate" value="")
                label.lbl.vgi-misc(for="chkall") All
            .form-control
                input.hid(id="chkres" type="radio" name="fstate" value="RESERVED" checked=true)
                label.lbl.vgi-tag(for="chkres") Reserved
            .form-control
                input.hid(id="chkpub" type="radio" name="fstate" value=(portalType == 'test' ? "PUBLISHED" : "PUBLIC"))
                label.lbl.vgi-globe(for="chkpub") Published
            .form-control
                input.hid(id="chkrej" type="radio" name="fstate" value=(portalType == 'test' ? "REJECTED" : "REJECT"))
                label.lbl.vgi-no(for="chkrej") Rejected
        .lbl Year
        select.lbl.txt(name="y")
            while y > 1998
                option(value=y)=y
                - y--;
        |  
        button.btn.vgi-reuse(onclick='event.preventDefault();cveGetList();return false;') Go
    div#cvePage.gap
        .rdg
            div.lbl#cvePageInfo
            .form-control
                button.lbl#prevPage(onclick='paginate(-1)') &#8249;
            .form-control
                div.lbl#currentPage 1
            .form-control
                button.lbl#nextPage(onclick='paginate(1)') &#8250;
		
    div#cveList

mixin userstats
    details.popup
        summary.fbn.vgi-user= userInfo && userInfo.name ? userInfo.name.first : userInfo.username ? userInfo.username : 'undef'
            |  â–¼ 
        dl.pop.wht.bor.rnd.shd.pad
            b.vgi-user= userInfo ? userInfo.username : 'undefined!'
            dt Roles:  
                b.vgi-cap=userInfo && userInfo.authority ? userInfo.authority.active_roles : 'undefined!'
            span.vgi-edit.fbn(onclick="cveUserUpdate()") Update my details
            hr.bort
            dt Org:  
                b=org ? org.name : 'undefined'
            dt ShortName:  
                b= org ? org.short_name : 'undefined'
            dt Role:  
                b= org && org.authority ? org.authority.active_roles : 'undefined'
            span.vgi-edit.fbn(onclick="cveOrgUpdate()") Update org details
            hr.bort
            span.vgi-exit.fbn(onclick="cveLogout()") Logout!

mixin listUsers
    if users
        each u, i in users
            tr
                td=u.username
                td=u.name.first
                td=u.name.last
                td=u.authority ? u.authority.active_roles : ''
                td=u.active
                td
                    button.btn.vgi-reuse(onclick="cveUserKeyReset(this)",u=u.username) Reset API Key


mixin usermgmt
    details.popup(ontoggle="userlistUpdate(this, event)")
        summary.fbn.vgi-user Manage Users
            |  â–¼ 
        div.pop.wht.bor.rnd.shd.pad.usermgmt
            table.tbl
                thead
                    tr
                        th Username
                        th Firstname
                        th Lastname
                        th Roles
                        th active
                        th
                tbody#userlist
                    tr
                        td(colspan=6)
                            center
                                .spinner
                tbody
                    tr
                        th
                            input.txt(name="new_username" placeholder="username/email")
                        th
                            input.txt(name="first" placeholder="First name")
                        th
                            input.txt(name="last" placeholder="Last name")
                        th
                            input.txt(type="checkbox", name="admin")
                            lable.lbl(for="admin") Admin
                        th
                            input.txt(type="checkbox", name="active")
                            lable.lbl(for="active") Active
                        th
                            button.sfe.btn.vgi-magic(onclick="addUser()") Add a new user


mixin htext
    if t
        each line in t.split(/\n/)
            if line
                if line.startsWith('  ')
                    code=line
                    br
                else
                    p=line
    else
        p=t

mixin date(value)
    - var v = false;
    - if (value instanceof Date) { v = value;} else {
    -   var timestamp = Date.parse(value);
    -   v = isNaN(timestamp) ? false : new Date(timestamp)
    - }
    if v
        - var nowt = Date.now();
        - var vtime = v.getTime();
        - var delta = nowt-vtime;
        - var hidet = '';
        - if (Math.abs(delta) > 43000000) { hidet = 'hid';}
        span.nobr.date(class=cl, title=v.toString())
            = v.toISOString().slice(0,10)
            span.nobr(class=hidet)
                |  
                = v.toLocaleTimeString("de-US", {hour:"2-digit", minute:"2-digit"})
    else
        = obj[name]

mixin editables
    each c in cveIds
        //-if c.state == 'RESERVED'
            option(value=c.cve_id)='ðŸ·ï¸ ' + c.cve_id
        if c.state == 'PUBLISHED'
            option(value=c.cve_id)='ðŸŒ Published on '
                +date(c.time.modified)
        if c.state == 'REJECTED'
            option(value=c.cve_id)='â›” Rejected on ' 
                +date(c.time.modified)

mixin reserveds
    each c in cveIds
        if c.state == 'RESERVED'
            option(value=c.cve_id)
                i='ðŸ·ï¸ Reserved by ' + c.requested_by.user
        //-if c.state == 'PUBLISHED'
            option(value=c.cve_id)='ðŸŒ Published by ' + c.requested_by.user
        //-if c.state == 'REJECTED'
            option(value=c.cve_id)='â›” Rejected by ' + c.requested_by.user

mixin listIds
    if cveIds && cveIds.length > 0
        - var stateIcons = {'RESERVED':'vgi-tag', 'PUBLISHED':'vgi-globe', 'REJECTED':'vgi-no', 'PUBLIC':'vgi-globe'}
        table#cveListTable.tbl.sortable
            thead
                tr
                    th ID
                    th Requester
                    th(aria-sort="ascending") Created
                    th Modified
                    th
            tbody
                each c in cveIds
                    tr(data=c.state)
                        td
                            if editable
                                a(class=stateIcons[c.state]?stateIcons[c.state]:'',href="javascript:cveLoad('"+c.cve_id+"')", title='Load ' + c.state + ' ' + c.cve_id + ' to edit')
                                    =c.cve_id
                            else
                                span(class=stateIcons[c.state]?stateIcons[c.state]:'', title=c.state)
                                    =c.cve_id
                            if c.state != 'RESERVED'
                                a.vgi-ext(href="https://www.cve.org/CVERecord?id="+c.cve_id)
                        td=c.requested_by.user
                        td
                            +date(c.time.created)
                        td
                            if c.time.modified != c.time.created
                                +date(c.time.modified)
                        td
                            if editable && c.state == 'RESERVED'
                                a.vgi-cancel(data=c.cve_id, onclick="cveReject(this, event)", title="Reject this CVE ID",)
    else
        i No CVE IDs found!

block red
    if ctemplate != undefined
        +#{ctemplate}