//- Copyright (c) 2017 Chandan B N. All rights reserved.

//- Extends default document editor for CVE

extends ../../views/edit

block append head
    style.
        #recentList { flex-direction: column; gap: 1px;}
        #recentList a.lbl {
            max-width: 17em;
            gap: 0px;
        }
        #recentList a span:first-child  {
            flex-grow: 1;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: "-";
        }
        #recentList a span:last-child {
            margin-left: auto;
            flex-shrink: 0;
            padding-left: 0.5em;
        }

block append sidebarNav
    details#recentGroup.sidebar-expandable
        summary.lbl.vgi-time Recent 
            span#recentOrg
            span.pad.tgrey#recentCount
        #recentEmpty.lbl No recent CVEs yet.
        #recentList.flx

block append sidebarSections
    a#cvePortalNav.lbl.vgi-org(href="#", onclick="return showCvePortal(event);") CVE Portal

block append outputButtons
    //- a.vgi-download.fbn(type="button",oncontextmenu='saveCSAF(event, this);',onclick='saveCSAF(event, this);',target="_blank",title="Download CSAF") CSAF
    button.sfe.fbn.vgi-export(id="post1") Publish CVE
    a.rbtn.vgi-what(href="https://github.com/Vulnogram/Vulnogram/blob/1.0.0/docs/Publish%20CVEs%20with%20Vulnogram.md",target="_blank")

block append scripts
    script(type="module")
        | import {CVSS40} from './static/cvss40.js';
        | window.CVSS40 = CVSS40;
    script
        include cve.js
        //include csaf.js
        include portal.js
    - var compileScript = pugLib.compileFileClient('default/cve5/cvelist.pug', {name: "cveRender", basedir: '', compileDebug: false,inlineRuntimeFunctions: true})
            script !{compileScript}

block prepend loadEditor
    script 
        include preload.js

block append loadEditor
    script 
        include postload.js

block prepend topHeaderRight

block append topHeaderLeft
    form.bor.out.nobr.vgi-cve(onsubmit="cveSelectLoad(event);return false;")
        input.txt#cveEditable(type="search",name="id",list="editablelist",placeholder="CVE-yyyy-nnnn",pattern=".*CVE-[0-9]{4}-[0-9]{4,12}.*",size=16,title="Load CVE from CVE.org",required)
        datalist#editablelist
        button.fbn.vgi-import(type="submit",tile="Import from cve.org") Load

block customtabs
        input.tab(name='tabs', type='radio', id='advisoryTab', value="4")
        label.lbl(for='advisoryTab') Preview
        .fil.bort.pad
            div(style='float:right')
                a.vgi-download.fbn.right(type="button",oncontextmenu='downloadHtml(document.getElementById("cvetitle").innerText, render, this);',onclick='downloadHtml(document.getElementById("cvetitle").innerText, render, this);',value="Download") Download
                a.vgi-mail.fbn.right(type="button",oncontextmenu='draftEmail(event, this, "render");',onclick='draftEmail(event, this,"render");',value="Email") Email
            div.render(id="render")

block prepend content
    dialog.dlg.bor.rnd.shd#cveErrorsModal
        #cveErrors
        center.pad2
            input.btn.sfe(type="reset" onclick="document.getElementById('cveErrorsModal').close()" value="OK")
    +showSecret
    +userAddDialog
    +userEditDialog
    +cpeNameOverrideDialog
    dialog.dlg.bor.rnd.shd#cvePortalDialog
        header.ban.sec.pad
            b.lbl.vgi-org CVE CNA Portal
            a.right.rbtn.vgi-x(title="Close CVE Portal" onclick="return closeCvePortal(event);")
        #port

mixin userAddDialog
    dialog.dlg.bor.rnd.shd#userAddDialog
        +dlgHeader('vgi-user','Add a new user')
        form.gap(onsubmit="event.preventDefault();cveAddUser(this)")
            +userEdit('Add user')

mixin userEditDialog
    dialog.dlg.bor.rnd.shd#userEditDialog
        +dlgHeader('vgi-user','Update user details')
        form#userEditForm.gap(onsubmit="event.preventDefault();cveUpdateUser(this)")
            +userEdit('Update')

mixin userEdit(label)
    input.txt(type="hidden" name="u")
    input.txt.gap(name="new_username" "pattern"="^[a-zA-Z0-9\\-_@\\.]{3,50}$" required=true placeholder="username/email" size="43" title="username - only alpha-numeric and . _ - @ are allowed (min 3 characters)")
    br
    input.txt.gap(name="first" "pattern"=".{1,64}" required=true placeholder="First name" title="First Name")
    input.txt.gap(name="last" "pattern"=".{1,64}" required=true placeholder="Last name" title="Last Name")
    div.gap
        br
        - var idName = "cveUserAdmin"+label[0];
        input(id=idName type="checkbox" name="admin")
        label.vgi-king.lbl(for=idName title="Is this an admin?") Admin
        if label
            input.lbl(id = idName + 'Active', type="checkbox" name="active" checked)
            label.lbl(for=idName + 'Active', title="Is the account active?") Active
    br
    input.gap.sfe.btn.vgi-magic(type="submit" value=label)
    if label
        | 
        button.gap.btn.vgi-reuse(onclick="cveUserKeyReset(this)") Reset API Key

mixin showSecret
    dialog.dlg.bor.rnd.shd#secretDialog
      +dlgHeader('vgi-lock','IMPORTANT! New API Secret Key generated!')
      center.gap
        form#secretDialogForm(onsubmit="event.preventDefault();this.reset();this.closest('dialog').close();return false")
            h3.vgi-alert#userMessage
            p Please securely store this API key.
                br
                |  This key will not be shown again!
            b.lbl API Secret Key
            br
            input.txt.bor(type="password" size=39 name="pass" readonly autocomplete="off")
            input#showpass(name="showpass" type="checkbox" onclick="this.form.pass.type = (this.form.pass.type === 'password'? 'text' : 'password')")
            label.vgi-eye.lbl.sbn(for="showpass")
            center.gap
                input.btn.sfe(type="reset" onclick="this.closest('dialog').close()" value="OK")

mixin cpeNameOverrideDialog
    dialog.dlg.bor.rnd.shd#cpeNameOverrideDialog
        +dlgHeader('vgi-cog','CPE name and type alias mappings')
        form.gap(onsubmit="event.preventDefault();return false;")
            table#cpeNameOverrideTable
                thead
                    tr
                        th Normal Name
                        th CPE Name
                        th CPE Type
                        th
                tbody#cpeNameOverrideRows

                tfoot
                    tr(colspan=4)
                        td
                            button.btn.vgi-add.sfe(type="button",onclick="cpeOverrideAddRow()") Add mapping
            center.gap
                | 
                button.btn.vgi-fail(type="button",onclick="this.closest('dialog').close();autoCPE()") Close

mixin dlgHeader(icon, msg)
    header.ban.sec.pad
        b.lbl(class=icon)=msg
        | 
        a.right.rbtn.vgi-x(onclick="this.closest('dialog').close()")
