//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends ../layout

block append topHeaderLeft
  if admin
    a.btn.sfe.vgi-magic(href="/users/profile") Add user
  a.fbn.vgi-user(href="/users/list") User list

block content
 div
  - var action = '/users/profile/';
  if profile.username
    - action = action + profile.username;
  form.pad2(method='POST', action=action)
    input(type='hidden', name='_csrf', value=csrfToken)
    .row
        h2=title
    .row
      label.lbl.vgi-user Name:
      input.txt(name='name', type='text', value=profile.name)
    .row
      label.lbl.vgi-mail Email:
      input.txt(name='email', type='text', value=profile.email)
    .row
      label.lbl.vgi-user Username:
      if admin
        input.txt(name='username', type='text',value=profile.username)
      else
        tt=profile.username
    .row
      label.lbl.vgi-image Favorite Emoji:
      input.txt(name='emoji', type='text', value=profile.emoji)
    .row
      label.lbl.vgi-key Password:
      input.txt(name='password', type='password', autocomplete="new-password")
    .row
      label.lbl.vgi-key Confirm Password:
      input.txt(name='password2', type='password', autocomplete="new-password")
    .row
      label.lbl.vgi-org CNA or group email:
      if admin
        input.txt(name='group', type='text',value=profile.group)
      else
        tt=profile.group
    .row
      label.lbl.vgi-crown Privilege:
      if admin
        select.form-control(name='priv')
            //option(value=2,selected=profile.priv==2) Read only
            option(value=1,selected=profile.priv==1) Read/Write
            option(value=0,selected=profile.priv==0) Admin
      else
        tt
            if profile.priv == 0
                | Admin
            else if profile.priv == 1
                | Read/Write
            else if profile.priv == 2
                | Read only
    .gap
        button.btn.sfe(type='submit', value='Save') Save
        if admin && profile.username
          a.fbn.vgi-del.dis(href="/users/delete/"+profile.username,onclick="return confirm('Delete this user?')") Delete 
            = profile.username    

                
        

    