//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends ../layout
block content
    table.tbl.wht.sortable
        thead
            tr
                th 
                th Username
                th Name
                th email
                th CNA/group
                th Privilege
        tbody
            each user in users
             tr
                td=user.emoji
                td
                    a(href="/users/profile/" + user.username)=user.username
                td
                    a(href="/users/profile/" + user.username)=user.name
                td
                    a(href="mailto:" + user.email)=user.email
                td
                    a(href="mailto:" + user.group)=user.group
                td
                    if user.priv == 0
                        | Admin
                    else if user.priv == 1
                        | Read/Write
                    else if user.priv == 2
                        | Read only
